@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
*,
 ::before,
 ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    overflow: hidden;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    letter-spacing: 2px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #270439;
}

h1 {
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    max-width: 50vw;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 900;
    pointer-events: none;
    user-select: none;
}

h1 span {
    position: absolute;
    left: 5vw;
    color: transparent;
    background-image: linear-gradient(90deg, #ff8a00, #c8305f);
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 0;
    animation: scale 4s cubic-bezier(0.5, -0.75, 0.7, 1.25) forwards;
}

h1 span:nth-child(2) {
    animation-delay: 3s;
}

h1 span:nth-child(3) {
    animation-delay: 6s;
}

h1 span:nth-child(4) {
    animation-delay: 9s;
}

h1 span:nth-child(5) {
    animation-delay: 12s;
}

h1 span:last-child {
    text-shadow: 20px -25px rgba(0, 0, 0, 0.2);
    animation: fade 2s linear 15s forwards;
}

.bg {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 47vw;
    height: 100vh;
    opacity: 0.6;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 2;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash 10s cubic-bezier(0.51, 0.92, 0.24, 1.15) 10s forwards;
}

@keyframes scale {
    0% {
        opacity: 0.2;
        transform: scale(10);
        filter: blur(10px);
    }
    50%,
    85% {
        opacity: 0.8;
        transform: scale(1);
        filter: blur(0);
    }
    100% {
        opacity: 0;
        transform: rotateX(90deg);
        filter: blur(10px);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes dash {
    90% {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 3000;
        stroke-dashoffset: 0;
    }
}